* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--color1: #006d77;
	--color1rgb: 0, 109, 119;
	--color2: #83c5be;
	--color2rgb: 131, 197, 190;
	--color3: #edf6f9;
	--color3rgb: 237, 246, 249;
	--color4: #ffddd2;
	--color4rgb: 255, 221, 210;
	--color5: #e29578;
	--color5rgb: 226, 149, 120;
	
	--blur: 5px;
}

html, body {
	min-height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	/* filter: brightness(1.4); per vedere meglio i link */
	/* filter: hue-rotate(45deg); */
}

body {
	/* background-color: var(--color4); */
	background: url("/images/bg.svg");
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: var(--color1);
	/*padding-top: 5em;*/
}

.title {
	font-size: 1.25rem;
	font-weight: 800;
	--gap: .25em;
}
.title2 { /* serve anche se è uguale a title perché in realtà title è dichiarata anche sotto */
	font-size: 1.25rem;
	font-weight: 800;
	--gap: .25em;
}
.title3 {
	text-align: center;
	font-size: 2rem;
	font-weight: 800;
	--gap: .25em;
	padding: 2em 0;
}

.flex {
	display: flex;
	/* definisco la variabile gap dove serve */
	gap: var(--gap, 1rem);
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-column { /* usato per l'elenco di categorie e sottocategorie */
	display: flex;
	flex-direction: column;
	padding: 1rem;
	font-size: 1.1rem;
}
.flex-column .title {
	font-size: 2rem;
	font-weight: 800;
}
.flex-column .list {
	--gap: 0 2rem;
	padding-left: 1rem;
	flex-wrap: wrap;
}
.flex-column a {
	font-weight: 800;
	color: var(--color2);
}
.flex-column a:hover {
	color: var(--color5);
}

.navbar-container {
	width: 100%;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
}
.logo { /* logo dentro il navbar (a sinistra) */
	margin: 2rem 5rem 0 3rem;
	font-family: 'Sriracha', cursive;
	font-size: 2.2em;
	text-decoration: none;
	text-shadow: 0 0 5px var(--color3), 0 0 5px var(--color3); /* lo metto due volte per renderlo più leggibile */
	color: var(--color1);
	transition: .3s;
}
.logo:hover {
	color: var(--color4);
	text-shadow: 0 0 5px var(--color1);
}
.navbar-list { /* lista di pulsanti dentro il navbar (a destra) */ 
	position: fixed;
	right: 0;
	top: 2.5rem;
	z-index: 6;
	list-style: none; /* per togliere i punti prima di ogni elemento di una lista */
	background: rgba(var(--color1rgb), .5) /*hsl(0 0% 100% / .1)*/;
	backdrop-filter: blur(10px);
	transition: .3s;
	padding: 1rem;
	/* clamp(min, ideale, max) -- vw: viewport width */
	/* --gap: clamp(.5rem, 5vw, 5rem) */ /* così la distanza tra i pulsanti varia in base alla larghezza della pagina */
	--gap: 2rem;
	flex-wrap: wrap;
	font-weight: 800;
	text-shadow: 2px 2px var(--color5);
}
.navbar-list:nth-last-child(1) {
	padding-right: min(3vw, 3rem); /* per mettere un po' di spazio tra il margine e l'ultimo pulsante */
}
.navbar-list a {
	text-decoration: none;
	color: var(--color4);
	transition: .3s;
}
.navbar-list a:hover {
	border-bottom: .1em solid var(--color3);
	border-radius: 5px;
	color: var(--color3);
	text-shadow: 0 0 5px var(--color4);
}
.navbar-toggle-mobile {
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 30px;
	height: 4px;
	background: var(--color1);
	border-radius: 10px;
	z-index: 5;
	transition: .3s;
} /* queste sono le linee sopra e sotto, così non devo usare un'immagine per l'icona del nav */
.navbar-toggle-mobile:before, .navbar-toggle-mobile:after {
	content: "";
	position: absolute;
	height: 4px;
	right: 0;
	background: var(--color1);
	border-radius: inherit;
	transition: inherit;
}
.navbar-toggle-mobile:before {
	top: -10px;
	width: 20px;
}
.navbar-toggle-mobile:after {
	top: 10px;
	width: 25px;
} /* questo è per il checkbox, quando è attivo fa vedere il nav */
.navbar-toggle-button {
	position: fixed;
	top: 1.1rem; /* valori strani che permettono al checkbox di sovrapporre completamente l'"icona" */
	right: 1.9rem;
	width: 30px;
	height: 30px;
	z-index: 6;
	cursor: pointer; /* serve semplicemente per trasformare il cursore in un puntatore quando ci passa sopra */
	opacity: 0;
}
.navbar-toggle-button,
.navbar-toggle-mobile {
	display: none; /* per nascondere il pulsante quando lo schermo è grande */
}
.navbar-container input:checked ~ .navbar-toggle-mobile {
	background: transparent; /* così la linea centrale diventa invisibile */
} /* trasformano le linee sopra e sotto in una x quando il checkbox è attivo */
.navbar-container input:checked ~ .navbar-toggle-mobile:before {
	top: 0;
	transform: rotate(-225deg);
	background: var(--color4);
	width: 30px;
}
.navbar-container input:checked ~ .navbar-toggle-mobile:after {
	top: 0;
	transform: rotate(225deg);
	background: var(--color4);
	width: 30px;
}
.navbar-container input:checked ~ .navbar-list {
	/* così la lista è "toccabile" solo quando il checkbox è attivo */
	visibility: visible;
	opacity: 1;
	right: 0;
}
@media screen and (max-width: 52em) { /* per schermi più piccoli */
	.navbar-toggle-mobile, 
	.navbar-toggle-button {
		display: block;
	}
	.navbar-list {
		visibility: hidden; /* in realtà non serve per perché c'è il right che sposta la lista fuori dalla pagina */
		opacity: 0;
		position: fixed;
		right: -200px; /* */
		top: 0;
		height: 100%;
		/*inset: 0 0 0 30%;*/
		z-index: 4;
		--gap: 2em; /* visto che ha anche la classe flex, utlizzo gap */
		flex-direction: column;
		flex-wrap: nowrap; /* sennò scompaiono i pulsanti (vanno fuori lo schermo) */
		padding: min(30vh, 10rem) 1em;
		overflow: auto; /* da vedere se diventa un problema dopo */
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	justify-content: center;
	padding: .8em;
	gap: 1em;
	margin: 2em 3em;
}
.grid {
	position: relative; /* serve a grid-button */
	/* border: solid .2em var(--color5); */
	background-color: rgba(var(--color3rgb), .9);
	backdrop-filter: blur(var(--blur));
	font-size: 1.1rem;
	/* box-shadow: 10px 10px rgba(0, 0, 0, 0.5); */
	border-radius: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 1em; */
	outline: 0 solid var(--color2);
	outline-offset: 0;
	transition: 0.2s ease-out;
	--gap: 0;
}
.grid:hover {
	outline: 5px solid var(--color1);
	outline-offset: 5px;
	/* box-shadow: 0 0 25px var(--color3); */
}
.grid-button {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}
.product-image {
	height: 300px;
	width: 250px;
	object-fit: cover;
	border-radius: 20px 0;
}

.grid-container-fit { /* usato per l'elenco di categorie e sottocategorie */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	padding: .8em;
	gap: 1em;
	margin: 2em 5em;
	font-size: 1.1rem;
}
.grid-fit {
	background-color: rgba(var(--color3rgb), .9);
	/* box-shadow: -10px -10px 25px rgba(0, 0, 0, 0.5); */
	border-radius: 0 20px;
	backdrop-filter: blur(var(--blur));
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	transition: .2s ease-out;
}
.grid-fit-button {
	height: 100%;
	width: 100%;
}
.grid-fit a {
	text-decoration: none;
	color: var(--color1);
	transition: .3s;
}
.grid-fit a:hover {
	text-decoration: underline;
	color: var(--color5);
}
.center {
	align-items: center;
	justify-content: center;
}

.grid-container-form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.grid-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	background-color: rgba(var(--color3rgb), .9);
	backdrop-filter: blur(var(--blur));
	/* box-shadow: -10px -10px 25px rgba(0, 0, 0, 0.5); */
	border-radius: 0 20px;
	margin: 4em;
	padding: 2em;
}
.grid-search { /* usato per la barra di ricerca */
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	background-color: rgba(var(--color1rgb), .9);
	border-radius: 0 20px;
	margin: .5em .5em 0 2em;
	padding: 1em;
}

.attached-info { /* usato per introdurre un elenco */
	background-color: var(--color1);
	border-radius: 10px 0;
	color: var(--color3);
	width: fit-content;
	margin: -.5em;
	padding: .5em;
}

.product-container { /* usato per /product/{id} */
	display: flex;
	flex-wrap: wrap;
}
.product-image-bigger { /* foto del product */
	background-color: var(--color2);
	height: 500px;
	width: 400px;
	object-fit: cover;
	border-radius: 50px 0 0 0;
	margin-bottom: -1em;
}
.product-info { /* dettagli del product */
	background-color: var(--color3);
	border-radius: 0 0 50px 0;
	height: 500px;
	width: 400px;
	padding: 4em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bg1 {
	background: rgba(var(--color1rgb), .9);
}
.bg2 {
	background: rgba(var(--color2rgb), .9);
}
.bg3 {
	background: rgba(var(--color3rgb), .9);
	border-radius: 20px 0;
	backdrop-filter: blur(var(--blur));
}
.bg4 {
	background: rgba(var(--color4rgb), .9);
}
.bg5 {
	background: rgba(var(--color5rgb), .9);
}

.dropdown { /* usato per scegliere un luogo specifico di una categoria/sottocategoria */
  position: relative;
  display: inline-block;
  width: fit-content;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color3);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.dropdown:hover .dropdown-content { /* così appare quando ci metto il mouse sopra */
  display: block;
}

.subcategory { /* per nascondere l'elenco di sottocategorie di una categoria quando non è scelta '*/
	display: none;
}

.category input:checked ~ .subcategory { /* per far apparire l'elenco una volta scelta la categoria */
	display: block;
}

.foot {
	font-size: .75em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: fit-content;
	width: 100%;
	bottom: 0;
	padding: 1em;
	transition: .3s;
	color: transparent;
	background-color: rgba(var(--color5rgb), .5)
}
.foot:hover {
	opacity: 1;
	color: var(--color1);
	background-color: rgba(var(--color5rgb), 1)
}
.foot a {
	color: inherit;
}

.button {
	color: var(--color1);
	outline: 0;
	border: 0;
	background-color: var(--color4);
	border: 2px solid var(--color5);
	border-radius: 5px;
	cursor: pointer;
	padding: .2em .5em;
	font-size: 1em;
	font-weight: 600;
}
.button:hover {
	color: var(--color5);
}
