<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Logout')">
</head>

<body>

	<div class="grid-container-form">
		<div class="grid-form">
			<div class="flex title">Stai per uscire dall'account
			</div>
			<div>
				<a th:href="@{/logout}" th:text="Conferma">Conferma</a>
				<a href="home.html" th:href="@{/home}">Annulla</a>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/common.html :: footer">
	</footer>
</body>

</html>