<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Logout')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbarMini">
	</div>

	<div class="grid-container-form">
		<div class="grid-form">
			<div class="flex title2">Stai per uscire dall'account
			</div>
			<div class="flex title3">
				<a class="button" th:href="@{/logout}">Conferma</a>
				<a class="button" href="home.html" th:href="@{/home}">Annulla</a>
			</div>
		</div>
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>