<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Categoria')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>

	<div class="grid-container-form">
		<div class="grid-form">
			<div class="flex title">Modifica Categoria
			</div>
			<form th:action="@{'/admin/categoria/edit/'+${categoria.id}}" method="POST" th:object="${categoria}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">...</p>
				</div>
				<table>
					<tr>
						<td>Nome:
						</td>
						<td><input type="text" th:field="*{nome}" />
						</td>
						<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'">
						</td>
					</tr>
					<tr>
						<td>Descrizione:
						</td>
						<td><input type="text" th:field="*{descrizione}" />
						</td>
						<td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" th:style="'color:red'">
						</td>
					</tr>
				</table>
				<div>
					<button class="button" type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>