<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Categorie')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>

	<div class="grid-container-fit">
		<div class="grid-fit" sec:authorize="hasAuthority('ADMIN')">
			<a class="title" th:href="@{/admin/categoria/form}">Inserisci una nuova categoria</a>
			<ul class="flex-column">
				<li>
					<a th:href="@{/admin/sottocategoria/form}">Inserisci una nuova sottocategoria</a>
				</li>
			</ul>
		</div>
		<div class="grid-fit" th:each="categoria: ${categorias}">
			<a class="title" href="categoria.html" th:href="@{'/categoria/'+${categoria.id}}" th:text="${categoria.nome}">
			</a>
			<ul class="flex-column">
				<li th:each="sottocategoria: ${categoria.sottocategorias}">
					<a class="" href="sottocategoria.html" th:href="@{'/sottocategoria/'+${sottocategoria.id}}"
						th:text="${sottocategoria.nome}">
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>