<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Categorie')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>

	<div th:each="categoria: ${categorias}">
		<div th:text="${categoria.nome}">
		</div>
		<a href="categoria.html" th:href="@{'/categoria/'+${categoria.id}}" th:text="dettagli">
		</a>
	</div>

	<a th:href="@{/admin/categoria/form}">Nuova categoria</a>
	<a th:href="@{/admin/sottocategoria/form}">Nuova sottocategoria</a>
</body>

</html>