<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Categoria')">
</head>

<body>
	<div th:if="${categoria}">
		<div th:text="${categoria.nome}">
		</div>
		<div th:text="${categoria.descrizione}">
		</div>
		
		<br>
		<div>
			Prodotti di questa categoria:
		</div>

		<div th:each="prodotto: ${categoria.prodottos}">
			<div th:text="${prodotto.nome}">
			</div>
		</div>
		
		<br>
		<div>
			Sottocategorie di questa categoria:
		</div>
		

		<div th:each="sottocategoria: ${categoria.sottocategorias}">
			<div th:text="${sottocategoria.nome}">
			</div>
		</div>
		
		<a th:href="@{'/admin/categoria/edit/form/'+${categoria.id}}">Modifica categoria</a>
		<a th:href="@{'/admin/categoria/delete/confirm/'+${categoria.id}}">Cancella categoria</a>
	</div>

	<div th:unless="${categoria}">
		Questa Categoria non esiste!
	</div>

	<a href="index.html" th:href="@{/}">Torna indietro
	</a>
</body>

</html>