<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Categoria')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>

	<div class="flex-column" th:if="${categoria}">
		<div class="flex-column bg3">
			<div class="flex">
				<div class="title" th:text="${categoria.nome}">
				</div>
			</div>
			<div class="description" th:text="${categoria.descrizione}">
			</div>
			<div sec:authorize="hasAuthority('ADMIN')">
				<a th:href="@{'/admin/categoria/edit/form/'+${categoria.id}}">Modifica categoria</a>
				<a th:href="@{'/admin/categoria/delete/confirm/'+${categoria.id}}">Cancella categoria</a>
			</div>
			<div class="flex">
				Sottocategorie:
				<ul class="flex list">
					<li th:each="sottocategoria: ${categoria.sottocategorias}">
						<div th:if="${luogo}">
							<!-- così se c'è un luogo selezionato, rimane selezionato -->
							<a href="sottocategoria.html"
								th:href="@{'/sottocategoria/'+${sottocategoria.id}+'/'+${luogo}}"
								th:text="${sottocategoria.nome}">
							</a>
						</div>
						<div th:unless="${luogo}">
							<a href="sottocategoria.html" th:href="@{'/sottocategoria/'+${sottocategoria.id}}"
								th:text="${sottocategoria.nome}">
							</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="dropdown">
				<span class="title2" th:if="${luogo}" th:text="${luogo}"></span>
				<span class="title2" th:unless="${luogo}">Tutti</span>
				<div class="dropdown-content">
					<div>
						<a th:href="@{'/categoria/'+${categoria.id}}">Tutti
						</a>
					</div>
					<div th:each="luogo: ${luogos}">
						<a th:href="@{'/categoria/'+${categoria.id}+'/'+${luogo.nome}}" th:text="${luogo.nome}">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="attached-info">
			<div class="flex title2">Prodotti di questa categoria:
			</div>
		</div>

		<div class="grid-container" th:if="${prodottos}">
			<div class="grid center" th:each="prodotto: ${prodottos}">
				<a class="grid-button" href="prodotto.html" th:href="@{'/prodotto/'+${prodotto.id}}">
				</a>
				<div th:if="${prodotto.fotoImagePath}">
					<img class="product-image" th:src="@{${prodotto.fotoImagePath}}" />
				</div>
				<div th:unless="${prodotto.fotoImagePath}">
					<div class="product-image flex center">Nessuna foto disponibile
					</div>
				</div>
				<div class="title2" th:text="${prodotto.nome}">
				</div>
				<div th:text="${prodotto.user.nome}+' ('+${prodotto.user.luogo.nome}+')'">
				</div>
			</div>
		</div>
		<div class="grid-container" th:unless="${prodottos}">
			<div class="grid center" th:each="prodotto: ${categoria.prodottos}">
				<a class="grid-button" href="prodotto.html" th:href="@{'/prodotto/'+${prodotto.id}}">
				</a>
				<div th:if="${prodotto.fotoImagePath}">
					<img class="product-image" th:src="@{${prodotto.fotoImagePath}}" />
				</div>
				<div th:unless="${prodotto.fotoImagePath}">
					<div class="product-image flex center">Nessuna foto disponibile
					</div>
				</div>
				<div class="title2" th:text="${prodotto.nome}">
				</div>
				<div th:text="${prodotto.user.nome}+' ('+${prodotto.user.luogo.nome}+')'">
				</div>
			</div>
		</div>
	</div>

	<div th:unless="${categoria}">
		Questa Categoria non esiste!
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>