<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Second-hand</title>
</head>

<body>
	<a th:href="@{/prodotto/form}">Inserisci prodotto</a>
	<a th:href="@{/prodotto/all}">Visualizza prodotti</a>
	<br>
	<a th:href="@{/admin/categoria/form}">Inserisci categoria</a>
	<a th:href="@{/categoria/all}">Visualizza categorie</a>
	<br>
	<a th:href="@{/admin/sottocategoria/form}">Inserisci sottocategoria</a>
	<a th:href="@{/sottocategoria/all}">Visualizza sottocategorie</a>
	<br>
	<a th:href="@{/admin/luogo/form}">Inserisci luogo</a>
	<a th:href="@{/luogo/all}">Visualizza luoghi</a>
	<br>
	<a th:href="@{/user/profile}">Visualizza profilo</a>
	<a th:href="@{/user/all}">Visualizza utenti</a>
</body>

</html>