<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Second-hand</title>
</head>

<body>
	<a th:href="@{/prodottoForm}">Inserisci prodotto</a>
	<a th:href="@{/prodottos}">Visualizza prodotti</a>
	<br>
	<a th:href="@{/categoriaForm}">Inserisci categoria</a>
	<a th:href="@{/categorias}">Visualizza categorie</a>
	<br>
	<a th:href="@{/sottocategoriaForm}">Inserisci sottocategoria</a>
	<a th:href="@{/sottocategorias}">Visualizza sottocategorie</a>
</body>

</html>