<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Luogo')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>
	
	<form th:action="@{/luogo}" method="POST" th:object="${luogo}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			Nome: <input type="text" th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
			</div>
		</div>

		<div>
			<button type="submit">Conferma</button>
		</div>
	</form>
	
	<a href="index.html" th:href="@{/}">Torna indietro
	</a>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>