<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Luogo</title>
</head>

<body>
	<div th:if="${luogo}">
		<div th:text="${luogo.nome}">
		</div>

		<div>
			Prodotti di questo luogo:
		</div>
		<br>

		<div th:each="prodotto: ${luogo.prodottos}">
			<div th:text="${prodotto.nome}">
			</div>
		</div>

		<a th:href="@{'/admin/luogo/edit/form/'+${luogo.id}}">Modifica luogo</a>
		<a th:href="@{'/admin/luogo/delete/confirm/'+${luogo.id}}">Cancella luogo</a>
	</div>

	<div th:unless="${luogo}">
		Questo Luogo non esiste!
	</div>

	<a href="index.html" th:href="@{/}">Torna indietro
	</a>
</body>

</html>