<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Luogo')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>

	<div class="flex-column" th:if="${luogo}">
		<div class="flex-column bg3">
			<div class="flex title" th:text="${luogo.nome}">
			</div>
			<div sec:authorize="hasAuthority('ADMIN')">
				<a th:href="@{'/admin/luogo/edit/form/'+${luogo.id}}">Modifica luogo</a>
				<a th:href="@{'/admin/luogo/delete/confirm/'+${luogo.id}}">Cancella
					luogo</a>
			</div>
		</div>
		
		<div class="attached-info">
			<div class="flex title2">Utenti situati in questo luogo:
			</div>
		</div>
		
		<div class="grid-container-fit">
			<div class="grid-fit center" th:each="user: ${luogo.users}">
				<a href="user.html" th:href="@{'/user/'+${user.id}}" th:text="${user.nome}+' '+${user.cognome}">
				</a>
			</div>
		</div>
	</div>

	<div th:unless="${luogo}">
		Questo Luogo non esiste!
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>