<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Prodotto</title>
</head>

<body>
	<div th:if="${prodotto}">
		<div th:text="${prodotto.nome}">
		</div>
		<div th:text="${prodotto.descrizione}">
		</div>
		<div th:text="${prodotto.categoria.nome}">
		</div>
		<img th:src="@{${prodotto.fotoImagePath}}" />
	</div>
	<div th:unless="${prodotto}">
		Questo Prodotto non esiste!
	</div>
	
	<a href="index.html" th:href="@{/}">Torna indietro
	</a>
</body>

</html>