<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Prodotto')">
</head>

<body>
	<div th:if="${prodotto}">
		<div th:text="${prodotto.nome}">
		</div>
		<div th:text="${prodotto.descrizione}">
		</div>
		<div th:text="${prodotto.categoria.nome}">
		</div>
		<div th:text="${prodotto.sottocategoria.nome}">
		</div>
		<div th:text="${prodotto.user.nome}">
		</div>
		<div th:text="${prodotto.user.luogo.nome}">
		</div>
		<img th:src="@{${prodotto.fotoImagePath}}" />

		<div th:if="(${prodotto.user.id}==${currentUserId}) OR (${#authorization.expression('hasAuthority(''ADMIN'')')})">
			<a th:href="@{'/prodotto/edit/form/'+${prodotto.id}}">Modifica prodotto</a>
			<a th:href="@{'/prodotto/delete/confirm/'+${prodotto.id}}">Cancella prodotto</a>
		</div>

	</div>

	<div th:unless="${prodotto}">
		Questo Prodotto non esiste!
	</div>

	<a href="index.html" th:href="@{/}">Torna indietro
	</a>
</body>

</html>