<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Registrazione')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbarMini">
	</div>

	<div class="grid-container-form">
		<div class="grid-form">
			<div class="flex title">Registrazione Utente
			</div>
			<form th:action="@{/register}" method="POST">
				<table>
					<tr>
						<td>Username</td>
						<td><input type="text" placeholder="username" required th:field="${credentials.username}" />
						</td>
						<td th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"
							th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" placeholder="password" required th:field="${credentials.password}" />
						</td>
						<td th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"
							th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Nome</td>
						<td><input type="text" placeholder="nome" required th:field="${user.nome}" /></td>
						<td th:if="${#fields.hasErrors('user.nome')}" th:errors="${user.nome}" th:style="'color:red'">
						</td>
					</tr>
					<tr>
						<td>Cognome</td>
						<td><input type="text" placeholder="cognome" required th:field="${user.cognome}" /></td>
						<td th:if="${#fields.hasErrors('user.cognome')}" th:errors="${user.cognome}"
							th:style="'color:red'">
						</td>
					</tr>
					<tr>
						<td>
							<legend>Luogo</legend>
						</td>
						<td>
							<select th:field="*{user.luogo}" required>
								<!-- versione Dropdown -->
								<option value="">---</option>
								<th:block th:each="luogo: ${luogos}">
									<option th:text="${luogo.nome}" th:value="${luogo.id}"></option>
								</th:block>
							</select>
							<!--<fieldset> versione con Fieldset
								<div th:each="luogo: ${luogos}">
									<input type="radio" id="${luogos}" th:field="*{user.luogo}" name="luogo"
										th:value="${luogo.id}" />
									<label for="${luogos}" th:text="${luogo.nome}">nome luogo</label>
								</div>
							</fieldset>-->
						</td>
						<td>
							<div th:if="${#fields.hasErrors('user.luogo')}" th:errors="*{user.luogo}">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<button class="button" type="submit">Registra</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>