<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Sottocategorie')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>
	
	<div th:each="sottocategoria: ${sottocategorias}">
		<div th:text="${sottocategoria.nome}">
		</div>
		<a href="sottocategoria.html" th:href="@{'/sottocategoria/'+${sottocategoria.id}}" th:text="dettagli">
		</a>
	</div>
	
	<a href="index.html" th:href="@{/}">Torna indietro
	</a>
</body>

</html>