<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Sottocategoria')">
</head>

<body>
	<form th:action="@{'/admin/sottocategoria/edit/'+${sottocategoria.id}}" method="POST" th:object="${sottocategoria}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			Nome: <input type="text" th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
			</div>
		</div>
		<div>
			Descrizione: <input type="text" th:field="*{descrizione}" />
			<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
			</div>
		</div>

		<fieldset>
			<div th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}">
			</div>
			<legend>Seleziona Categoria</legend>
			<div th:each="categoria: ${categorias}">
				<!-- type="radio": una sola scelta; type="checkbox": più scelte-->
				<input type="radio" id="${categorias}" th:field="*{categoria}" name="categoria"
					th:value="${categoria.id}" />
				<label for="${categorias}" th:text="${categoria.nome}">nome categoria</label>
			</div>
		</fieldset>

		<div>
			<button type="submit">Conferma</button>
		</div>
	</form>

	<a href="index.html" th:href="@{/}">Torna indietro
	</a>
</body>

</html>