<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Sottocategoria')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>

	<div class="grid-container-form">
		<div class="grid-form">
			<div class="flex title">Inserimento Sottocategoria
			</div>
			<form th:action="@{/sottocategoria}" method="POST" th:object="${sottocategoria}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">...</p>
				</div>
				<table>
					<tr>
						<td>Nome:
						</td>
						<td><input type="text" th:field="*{nome}" />
						</td>
						<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'">
						</td>
					</tr>
					<tr>
						<td>Descrizione:
						</td>
						<td><input type="text" th:field="*{descrizione}" />
						</td>
						<td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" th:style="'color:red'">
						</td>
					</tr>
				</table>
				<fieldset>
					<div th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" th:style="'color:red'">
					</div>
					<legend>Seleziona Categoria</legend>
					<div th:each="categoria: ${categorias}">
						<!-- type="radio": una sola scelta; type="checkbox": più scelte-->
						<input type="radio" id="${categorias}" th:field="*{categoria}" name="categoria"
							th:value="${categoria.id}" />
						<label for="${categorias}" th:text="${categoria.nome}">nome categoria</label>
					</div>
				</fieldset>
				<div>
					<button type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>