<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Sottocategorie')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>

	<div class="grid-container-fit">
		<div class="grid-fit" sec:authorize="hasAuthority('ADMIN')">
			<a class ="title" th:href="@{/admin/sottocategoria/form}">Inserisci una nuova sottocategoria</a>
		</div>
		<div class="grid-fit" th:each="sottocategoria: ${sottocategorias}">
			<div class="flex title">
				<a href="sottocategoria.html" th:href="@{'/sottocategoria/'+${sottocategoria.id}}"
					th:text="${sottocategoria.nome}">
				</a>
				<a href="sottocategoria.html" th:href="@{'/categoria/'+${sottocategoria.categoria.id}}"
					th:text="'('+${sottocategoria.categoria.nome}+')'">
				</a>
			</div>
			<div th:text="${sottocategoria.descrizione}">
			</div>
		</div>
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>