<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Logout')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbarMini">
	</div>

	<div class="grid-container-form">
		<div class="grid-form">
			<div class="flex title2">Ops! Si è verificato un errore con la pagina <span th:text="${path}" />
			</div>
			<div>Non sei autorizzato!
			</div>
			<div class="flex title2">
				<a class="button" href="home.html" th:href="@{/home}">Home</a>
			</div>
		</div>
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>