<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Utente')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>

	<div class="grid-container-form">
		<div class="grid-form">
			<div class="flex title">Modifica Utente
			</div>
			<form th:action="@{'/user/edit/'+${user.id}}" method="POST" th:object="${user}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">...</p>
				</div>
				<table>
					<tr>
						<td>Nome:
						</td>
						<td><input type="text" th:field="*{nome}" />
						</td>
						<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'">
						</td>
					</tr>
					<tr>
						<td>Cognome:
						</td>
						<td><input type="text" th:field="*{cognome}" />
						</td>
						<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}" th:style="'color:red'">
						</td>
					</tr>
				</table>
				<fieldset>
					<div th:if="${#fields.hasErrors('luogo')}" th:errors="*{luogo}" th:style="'color:red'">
					</div>
					<legend>Seleziona Luogo</legend>
					<div th:each="luogo: ${luogos}">
						<input type="radio" id="${luogos}" th:field="*{luogo}" name="luogo" th:value="${luogo.id}" />
						<label for="${luogos}" th:text="${luogo.nome}">nome luogo</label>
					</div>
				</fieldset>
				<div>
					<button class="button" type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>