<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Utente')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbar">
	</div>

	<div class="flex-column" th:if="${user}">
		<div class="flex-column bg3">
			<div class="flex title">
				<div th:text="${user.nome}+' '+${user.cognome}">
				</div>
				<div>
					<a th:href="@{'/luogo/'+${user.luogo.id}}" th:text="'('+${user.luogo.nome}+')'"></a>
				</div>
			</div>
			<div th:if="(${user.id}==${currentUserId}) OR (${#authorization.expression('hasAuthority(''ADMIN'')')})">
				<a th:href="@{'/user/edit/form/'+${user.id}}">Modifica Utente</a>
			</div>
		</div>
		<div class="attached-info">
			<div th:if="(${user.id}==${currentUserId})" class="flex title2">I tuoi prodotti:
			</div>
			<div th:unless="(${user.id}==${currentUserId})" class="flex title2">Prodotti di questo Utente:
			</div>
		</div>

		<div class="grid-container">
			<div class="grid center">
				<a class="grid-button" th:href="@{/prodotto/form}">
				</a>
				<div class="title3">Inserisci un nuovo prodotto
				</div>
			</div>
			<div class="grid center" th:each="prodotto: ${user.prodottos}">
				<a class="grid-button" href="prodotto.html" th:href="@{'/prodotto/'+${prodotto.id}}">
				</a>
				<div th:if="${prodotto.fotoImagePath}">
					<img class="product-image" th:src="@{${prodotto.fotoImagePath}}" />
				</div>
				<div th:unless="${prodotto.fotoImagePath}">
					<div class="product-image flex center">Nessuna foto disponibile
					</div>
				</div>
				<div class="title2" th:text="${prodotto.nome}">
				</div>
			</div>
		</div>
	</div>

	<div th:unless="${user}">
		Questa Categoria non esiste!
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>

</html>